@import "main.css";

.titleName{
  background-color: var(--blue);
  height: 40px;
  padding-top: 10px;
}

.titleName h4{
  margin-top: 10px;
  color:var(--white);
}

.image img{
    width: 100%;
}

h4{

  font-size: 16px;
  text-align: center;
}

h5,p{
  font-size: 16px;
}
h5,p,h4{
  color: var(--blue);
}

#micro_detailed{
  color: var(--blue);
  font-size: 14px;
}

/*оборудование смотрите так же*/

.item .col-xs-6{
  background-color: var(--blue);
  margin: 15px auto;
  padding-left: 0;
  height: 123.75px;
}

.col-xs-12{
  background-color: var(--blue);
  margin: 15px auto;
  padding-left: 0;
}

.item p{
  padding-top: 10px;
  font-size: 16px;
  color:var(--white);
}

.item img{
  min-width: 100px;
}

.visible-xs{
  padding: 10px;
}
@media screen and (max-width:1199px) {
  .item .col-xs-6{
    height:98.734px;
  }
}

@media screen and (max-width:991px) {
  .item .col-xs-6,.col-xs-12{
    height:71.250px;
  }
}

@media screen and (max-width:400px) {
  .item .col-xs-6{
    height:100%;
  }
}
.item a{
  text-decoration:none;
  color:var(--white);
}
