body {
	background-color: #0066d2;
}

.content {
	padding: 10% 30%;
}

.content p{
	color: #000;
	font-size: 16px;
}

.content a{
	text-decoration: none;
	color: #3a87ad;
}

.content a:hover {
	color: #0d3349;
}

.content a:visited {
	color: #3a87ad;
}