@import "main.css";

/*Карусель*/
#carousel {
    margin: 1% 10%;
    width: 80%;
    background-color: #0066d2;
    /*height: 350px;*/
}

#carousel img {
    margin: auto;
    width: 100%;
    height: 500px;
}

#carousel p {
    margin: auto;
}

.item a {
    text-decoration: none;
}

/*Контент*/
#blockBook .link a,#blockBook.link a:hover,#blockBook .link a:focus,
#events .link a,#events .link a:hover,#events .link a:focus{
    color:#f8fdff;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 26px;
    background-color: #3095ff;
    box-sizing:border-box;
    white-space: nowrap;
    text-decoration: none;
}

#blockBook .link a:hover,#events .link a:hover{
    background-color: #1481f4;
}

#blockBook{
    background-image: url("images/Photo/IMG_0019.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

#blockBook p{
    padding: 10px;
}

#blockBook,#blockBook .col-md-8{
    background-color: #0066d2;
    padding-left: 0;
    padding-right: 0;
}

.row{
    margin-top: 0px;
}

#bookbtn {
    padding: 0;
    /*color:#f8fdff;*/
}

#bookbtn p{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

#bookbtn .link{
    padding-bottom:10px;
}

#events{
    height: 300px;
    background-color: #0066d2;
    padding: 10px;
}
@media screen and (max-width: 1199px)
{
    #events{
        height: 221.281px;
    }
}

@media screen and (max-width: 991px)
{
    #events{
        height: auto;
        margin-top: 10px;
        width: 100%;
    }
}

.blue-box{
    background-color: #3095ff;

}

/*Новости и проекты*/
.titleHead{
    background-color: #0066d2;
    color:#f8fdff;
    width:70%;
}

.titleHead div{
    float:right;
}

ul.titleHead li{
    display: inline-block;
    white-space:nowrap;
    padding: 0px;
}

ul.titleHead{
    padding: 0px;
    width: 100%;
    height: 70px;
}
ul.titleHead li:first-child{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

ul.titleHead li:nth-child(2){
    padding: 0px 10px;
    display: inline-block;
    vertical-align: top;
}

ul.titleHead li:nth-child(3){
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
}

.smallBlueBox{
    height: 70px;
    width: 15px;
    background-color: #3095ff;
}

/*форма ссылки*/
.titleHead div a{
    color:#f8fdff;
    padding: 4px 10px;
    border-radius: 26px;
    background-color: #3095ff;
    text-decoration: none;
}

.titleHead div a:hover{
    background-color: #1481f4;
}

/*блок новостей или проектов*/
.block img{
    float: left;
    padding-right: 10px;
    max-width: 400px;
}

.block{
    padding:60px 0px;
    margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
    .block img{
        position:static;
    }
}

.block img{
    padding: 0 15px;
}
.block .description{
    color:#003765;
    font-size: 12px;
}

.block .title{
    color:#282828;
    font-size:16px;
}

.block .article{
    color:#6a6a6a;
    font-size:12px;
}

.block .detailes{
    color:#297bc0;
    font-size:12px;
}

.block .detailes a{
    text-decoration: none;
}

.article {
    color: #333;
}

.block a {
    text-decoration: none;
}
/*navbar breakpoint*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
