@import "../bootstrap/css/bootstrap.css";

/*определяем цвета*/
:root {
	--blue:#0066d2;
	--blue-btn:#3095ff;
	--blue-btn-action:#1481f4;
	--white: #f8fdff;
	--white-hover: #caf2ff;
	--side:#f2f2f2;
}

body{
	font-family:"Roboto Light",sans-serif;
	margin-top: 75px;
}

@media screen and (max-width: 991px){
	body{
		margin-top: 125px;
	}
}

.row {
	margin-top: 0px;
}

@media screen and (max-width: 767px){
	body{
		margin-top: 75px;
	}
}

/*Полоски по бокам*/
#leftSide, #rightSide{
	background-color: #f2f2f2;
	height: 130%;
	position: fixed;
	top:10px;
	padding: 0px;
	margin: 0px;
	width: 10%;
	z-index: -1;
}

#rightSide{
	right:0px;
}

@media screen and (max-width: 1443px){
	#leftSide,#rightSide{
		visibility: hidden;
	}
}

/* Сайт с пояснениями о классах навигационного меню
https://itchief.ru/lessons/bootstrap-3/119-bootstrap-3-customize-the-navbar
*/

.navbar-default{
	background-color: #0066d2;
	border-color: #0066d2;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:visited{
	color: #f8fdff;
}

.navbar-default .navbar-nav>li>a{
	color:#f8fdff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #caf2ff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #0066d2;
}

/*Change button top*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #1481f4;
}

.navbar-default .navbar-toggle{
	background-color: #3095ff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f8fdff;
}

/*Вкладки навигиации*/
#main_nav {
	padding-top: 25px;
}

.masthead{
	margin-bottom: 10px;
}

.masthead ul li{
	padding-right: 0;
	padding-left: 0;
	margin: 0 10px;

}

.masthead li a{
	font-size: 20px;
}


@media screen and (max-width: 767px) {
	.masthead li{
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 991px) and (min-width: 767px){
	#main_nav li {
		width: 150px;
	}
	#main_nav li a{
		padding: 0;
	}
	#main_nav {
		padding-top: 30px;
		padding-left: 27px;
	}
	.logotip {
		width: 50px;
	}
}

@media (max-width: 767px) and (min-width: 767px){
	#main_nav {
		float: right;
		display: inline-block;
		padding-left:0;
	}

	#main_nav li{
		width: 100%;
	}
	#main_nav li a{
		text-align: center;
		margin: auto;
/*may*/
		padding-left: 50px;
	}
}

@media (max-width: 767px){
	#main_nav {
		padding-top: 0;
		padding-left: auto;
		text-align: center;
	}
}

/*footer*/
.socialIcons img {
	height: 22px;
}

footer {
	background-color: #0066d2;
	color:#f8fdff;
	font-size: 16px;
	margin-top: 80px;
}

footer li a{
	text-decoration: none;
	color:#f8fdff;
}

/*Для фикскированного body, при уменьшении экрана меньше 360px*/
@media screen and (max-width: 424px){
	body {
		position: absolute;
	}
	.navbar-fixed-top {
		width: 424px;
	}
	.footer_navbar {
		width: 424px;
	}
}