@import "main.css";
/*определяем цвета*/
:root {
  --blue:#0066d2;
  --white: #f8fdff;
  --white-hover: #caf2ff;
}

body{
  font-family:"Roboto Light",sans-serif;
  margin-top: 50px;
  font-size: 12px;
  color:var(--white);
  margin-top: 85px;
  /*height: 2000px;*/
}

.nav-item, .navbar button span{
  color:var(--white);
}

.navbar button {
  border: 1px solid var(--white);
  margin-top: 15px;
}

.navbar{
  border-radius: 0px;
}

@media screen and (max-width: 767px){
  #main_nav{
    display: block;
  }
}

#main_nav li{
  margin: 0px;

}

@media screen and (max-width: 767px) and (min-width:767px){
  #main_nav li{
    margin: auto;
  }
}

/*Полоски по бокам*/
#leftSide, #rightSide{
  background-color: #f2f2f2;
  height: 130%;
  position: fixed;
  top:10px;
  padding: 0px;
  margin: 0px;
  width: 10%;
  z-index: -1;
}

#rightSide{
  right:0px;
}

@media screen and (max-width: 1443px){
  #leftSide,#rightSide{
    visibility: hidden;
  }
}

/*отступ для иконок*/
#navbarsDefault ul {
  padding-left: 15px;
}

/* Сайт с пояснениями о классах навигационного меню
https://itchief.ru/lessons/bootstrap-3/119-bootstrap-3-customize-the-navbar
*/

.navbar-default{
  background-color: var(--blue);
  border-color: var(--blue);
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:visited{
  color: var(--white);
}

.navbar>a{
  font-size:18px;
}

.navbar-default .navbar-nav>li>a{
  color:var(--white);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--white-hover);
}

.navbar-default .navbar-link, .navbar-link:visited {
  color:var(--white);
}
.navbar-default .navbar-link:hover,.navbar-default .navbar-link:focus{
  color:var(--white-hover);
  text-decoration: none;
}

.navbar .navbar-collapse{
padding: 0;
}

#logotip:visited, #logotip:hover, #logotip{
  background-color: transparent;
}

/* Исправление бага с маленькими вкладками*/
@media (min-width: 768px){
navs.less, .nav-justified > li {
    width: 100% !important;
  }
}




/*Бронирование оборудования*/
#main_nav {
  padding-top: 25px;
}

.masthead{
  margin-bottom: 10px;
}

.masthead ul li{
  padding-right: 0;
  padding-left: 0;
  margin: 0 10px;

}

.masthead li a{
  font-size: 20px;
}

#search {
  padding: 10px 15px;
}

@media screen and (max-width: 767px) {
  .masthead li{
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 767px){
  #main_nav li {
    width: 150px;
  }
  #main_nav li a{
    padding: 0;
  }
  #main_nav {
    padding-top: 30px;
    padding-left: 27px;
  }
  .logotip {
    width: 50px;
  }
}

@media (max-width: 767px) and (min-width: 767px){
  #main_nav {
    float: right;
    display: inline-block;
  }
  #main_nav li a{
    text-align: center;
  }
}

@media (max-width: 767px){
  .search_group{
    width: 50%;
    margin: auto;
  }
  #main_nav {
    padding-top: 0;
    padding-left: auto;
    text-align: center;
  }
}

/*Персональная информация*/

.personal_information p{
  font-size: 16px;
  color: black;
}

.personal_information h1{
  color: var(--blue);
}

.personal_information img {
  width: 50%;
  margin-left: 45%;
}

.personal_information button {
  margin-top: 20px;
  margin-left: 50%;
}

.personal_information button {
  background-color: var(--blue);
  border-radius: 5px;
}



.load_btn {
  margin-left: 50%;
  margin-right: 5%;
}

/*footer*/

.socialIcons img {
  height: 22px;
}

footer {
  background-color: var(--blue);
  color:var(--white);
  font-size: 16px;
  margin-top: 20px;
  /*position: absolute;*/
}

footer li a{
  text-decoration: none;
  color:var(--white);
}

.footer_navbar {
  width: 100%;
}


/*Для фикскированного body, при уменьшении экрана меньше 360px*/
 @media screen and (max-width: 386px){
  body {
    position: absolute;
    width: 386px;
  }
  .header_navbar {
    width: 386px;
  }
  .footer_navbar {
    width: 386px;
  }
  .my_header {
    width: 386px;
  }
 }
