@import "bootstrap/css/bootstrap.css";
@import url("https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css");


/*определяем цвета*/
:root {
  --blue:#0066d2;
  --white: #f8fdff;
  --white-hover: #caf2ff;
}

body{
  font-family:"Roboto Light",sans-serif;
  margin-top: 50px;
  font-size: 12px;
  color:var(--white);
  margin-top: 85px;
}

.nav-item, .navbar button span{
  color:var(--white);
}

.navbar button {
  border: 1px solid var(--white);
  margin-top: 15px;
}

.navbar{
  border-radius: 0px;
}

@media screen and (max-width: 767px){
  #main_nav{
    display: block;
  }
}

#main_nav li{
  margin: 0px;

}

@media screen and (max-width: 767px) and (min-width:767px){
  #main_nav li{
    margin: auto;
  }
}

/*Полоски по бокам*/
#leftSide, #rightSide{
  background-color: #f2f2f2;
  height: 130%;
  position: fixed;
  top:10px;
  padding: 0px;
  margin: 0px;
  width: 10%;
  z-index: -1;
}

#rightSide{
  right:0px;
}

@media screen and (max-width: 1443px){
  #leftSide,#rightSide{
    visibility: hidden;
  }
}

/*отступ для иконок*/
#navbarsDefault ul {
  padding-left: 15px;
}

/* Сайт с пояснениями о классах навигационного меню
https://itchief.ru/lessons/bootstrap-3/119-bootstrap-3-customize-the-navbar
*/

.navbar-default{
  background-color: var(--blue);
  border-color: var(--blue);
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:visited{
  color: var(--white);
}

.navbar>a{
  font-size:18px;
}

.navbar-default .navbar-nav>li>a{
  color:var(--white);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--white-hover);
}

.navbar-default .navbar-link, .navbar-link:visited {
  color:var(--white);
}
.navbar-default .navbar-link:hover,.navbar-default .navbar-link:focus{
  color:var(--white-hover);
  text-decoration: none;
}

.navbar .navbar-collapse{
padding: 0;
}

#logotip:visited, #logotip:hover, #logotip{
  background-color: transparent;
}

/* Исправление бага с маленькими вкладками*/
@media (min-width: 768px){
navs.less, .nav-justified > li {
    width: 100% !important;
  }
}

/*Бронирование оборудования*/
#main_nav {
  padding-top: 25px;
}

.masthead{
  margin-bottom: 10px;
}

.masthead ul li{
  padding-right: 0;
  padding-left: 0;
  margin: 0 10px;

}

.masthead li a{
  font-size: 20px;
}

#search {
  padding: 10px 15px;
}

@media screen and (max-width: 767px) {
  .masthead li{
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 767px){
  #main_nav li {
    width: 150px;
  }
  #main_nav li a{
    padding: 0;
  }
  #main_nav {
    padding-top: 30px;
    padding-left: 27px;
  }
  .logotip {
    width: 50px;
  }
}

@media (max-width: 767px) and (min-width: 767px){
  #main_nav {
    float: right;
    display: inline-block;
  }
  #main_nav li a{
    text-align: center;
  }
}

@media (max-width: 767px){
  .search_group{
    width: 50%;
    margin: auto;
  }
  #main_nav {
    padding-top: 0;
    padding-left: auto;
    text-align: center;
  }
}

/*Контент*/
.link{
  padding-top: 5px;
  padding-bottom: 20px;
  white-space:nowrap;
}

.link a{
  margin-right:5px;
  text-decoration: none;
}

.container{
  margin-top: 20px;
}

.book{
  color:var(--white);
  background-color: var(--blue);
  height: 280px;
}

.book p{
  padding:10px;
}

.book img{
  float:left;
  padding: 10px;
}

@media screen and (max-width: 991px) {
  .book img{
    width: 68%;
    padding:5px;
  }
}

.book a,.book a:hover, .book a:focus{
  color:var(--white);
  padding: 10px 15px;
  border-radius: 26px;
  background-color: #3095ff;
   box-sizing:border-box;
}

@media screen and (max-width: 1198px)
{
  .book a{
    margin-right: 10px;
  }
}

/*для слишком маленьких картинок убираем картинку*/
@media screen and (max-width: 767px) {
  .book{
    position: relative;
    height: auto;
  }
    .book img {
      visibility: hidden;
      width: 0px;
      height: 0px;
      padding: 0px;
    }

    .book a{
      width: 80%;
      text-align: center;
    }
}

.book{
  margin-bottom: 10px;
}

/*События*/
.events{
  padding:10px;
  height: 280px;
  margin-bottom: 10px;
  background-color: var(--blue);
  color: var(--white);
}

.events a,.events a:hover, .events a:focus{
  color:var(--white);
  padding: 10px 15px;
  border-radius: 26px;
  background-color: #3095ff;
}

.events .link{
  margin-top: 50px;
}

/*Новости и проекты*/
.titleHead{
  background-color: var(--blue);
  color:var(--white);
  width:70%;
}

 .titleHead div{
  float:right;
}

 ul.titleHead li{
  display: inline-block;
  white-space:nowrap;
  padding: 0px;
}

ul.titleHead{
  padding: 0px;
  width: 100%;
  height: 70px;
}
ul.titleHead li:first-child{
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

ul.titleHead li:nth-child(2){
  padding: 10px;
  margin: 13px;
  display: inline-block;
  vertical-align: top;
}

.smallBlueBox{
  height: 70px;
  width: 15px;
  background-color: #3095ff;
}

ul.titleHead li:nth-child(3){
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

/*форма ссылки*/
.titleHead div a{
  color:var(--white);
  padding: 4px 10px;
  border-radius: 26px;
  background-color: #3095ff;
}

/*блок новостей или проектов*/
.block img{
  float: left;
  padding-right: 10px;
}

.block{
  padding:60px 0px;
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .block img{
  position:static;
  }
}

.block .description{
  color:#003765;
  font-size: 12px;
}

.block .title{
  color:#282828;
  font-size:16px;
}

.block .article{
color:#6a6a6a;
font-size:12px;
}

.block .detailes{
  color:#297bc0;
  font-size:12px;
}

.block .detailes a{
  text-decoration: none;
}

/*footer*/

.socialIcons img {
  height: 22px;
}

footer {
  background-color: var(--blue);
  color:var(--white);
  font-size: 16px;
}

footer li a{
  text-decoration: none;
  color:var(--white);
}

/*Для фикскированного body, при уменьшении экрана меньше 360px*/
 @media screen and (max-width: 386px){
  body {
    position: absolute;
  }
  .header_navbar {
    width: 360px;
  }
  .footer_navbar {
    width: 360px;
  }
 }
