@import "bootstrap/css/bootstrap.css";

/*определяем цвета*/
:root {
  --blue:#0066d2;
  --white: #f8fdff;
  --white-hover: #caf2ff;
}

body{
  font-family:"Roboto Light",sans-serif;
  /*font-style:Light;*/
  margin-top: 50px;
}

/* Сайт с пояснениями о классах
https://itchief.ru/lessons/bootstrap-3/119-bootstrap-3-customize-the-navbar
*/
.navbar-default{
  background-color: var(--blue);
  border-color: var(--blue);
}

.navbar-default .navbar-brand{
  color: var(--white);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--white-hover);
}

.navbar-default .navbar-link {
  color:var(--white);
}

#logotip:visited, #logotip:hover, #logotip{
  background-color: transparent;
}

.book{
  color:var(--white);
  background-color: var(--blue);
  height: 280px;
}
.book p{
  padding:10px;
}
.book img{
  float:left;
  padding: 10px;
}

.events{
  height: 280px;
  padding:10px;
  background-color: var(--blue);
  color: var(--white);
}
.events a{
  float: right;

}
.events a,.events a:hover, .events a:focus{
  color:var(--white);
}


#news{
  background-color: var(--blue);
  color:var(--white);
  
}

#projects{
  background-color: var(--blue);
  color:var(--white);
}
