@import "bootstrap/css/bootstrap.css";

/*определяем цвета*/
:root {
  --blue:#0066d2;
  --white: #f8fdff;
  --white-hover: #caf2ff;
}

body{
  font-family:Roboto,sans-serif;
  margin-top: 100px;
}

/* Сайт с пояснениями о классах
https://itchief.ru/lessons/bootstrap-3/119-bootstrap-3-customize-the-navbar
*/
.navbar-default{
  background-color: var(--blue);
  border-color: var(--blue);
}

.navbar-default .navbar-brand{
  color: var(--white);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--white-hover);
}

.navbar-default .navbar-link {
  color:var(--white);
}

.book{
  background-color: var(--blue);
  padding: 10px;
  /*margin: 10px;*/
}
.book img{
  margin-right: 10px;
}

.events{
  background-color: var(--blue);
}
